body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  background-color: gray;
}

.important {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: pink;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .4rem;
}